Repository IF-103-Java/ims-ui, pull requests merged in 2020-01, with the labels that each got.

#1 add add components and services for the user management
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/app.routing.module.ts
  src/app/item/item.service.ts
  src/app/models/loginUser.model.ts
  src/app/models/role.model.ts
  src/app/models/user.model.ts
  src/app/user/services/login.service.spec.ts
  src/app/user/services/login.service.ts
  src/app/user/services/registration-service.service.spec.ts
  src/app/user/services/registration-service.service.ts
  src/app/user/services/reset-password.service.spec.ts
  src/app/user/services/reset-password.service.ts
  src/app/user/user-forgot-password/user-forgot-password.component.css
  src/app/user/user-forgot-password/user-forgot-password.component.html
  src/app/user/user-forgot-password/user-forgot-password.component.spec.ts
  src/app/user/user-forgot-password/user-forgot-password.component.ts
  src/app/user/user-reset-password/user-reset-password.component.css
  src/app/user/user-reset-password/user-reset-password.component.html
  src/app/user/user-reset-password/user-reset-password.component.spec.ts
  src/app/user/user-reset-password/user-reset-password.component.ts
  src/app/user/user-signin/user-signin.component.css
  src/app/user/user-signin/user-signin.component.html
  src/app/user/user-signin/user-signin.component.spec.ts
  src/app/user/user-signin/user-signin.component.ts
  src/app/user/user-signup/user-signup.component.css
  src/app/user/user-signup/user-signup.component.html
  src/app/user/user-signup/user-signup.component.spec.ts
  src/app/user/user-signup/user-signup.component.ts
  src/app/user/user-style.css
  src/app/user/user-update/user-update.component.css
  src/app/user/user-update/user-update.component.html
  src/app/user/user-update/user-update.component.spec.ts
  src/app/user/user-update/user-update.component.ts
  src/index.html
  src/styles.css
Labels: component, service

#3 enhance login page and add authentication with token
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/errors/app-error.ts
  src/app/errors/global-error-handler.ts
  src/app/helpers/http-request-helper.ts
  src/app/models/errorInfo.model.ts
  src/app/models/validationError.ts
  src/app/user/services/login.service.ts
  src/app/user/user-signin/user-signin.component.css
  src/app/user/user-signin/user-signin.component.html
  src/app/user/user-signin/user-signin.component.ts
Labels: enhancement, login

#17 Event
  src/app/event/event.component.html
  src/app/event/event.component.ts
Labels: invalid
